# Dependências
node_modules/

# Build do projeto (o resultado final que o Vite gera)
dist/
dist-ssr/

# Arquivos de ambiente local
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript (se houver arquivos de mapeamento gerados)
*.tsbuildinfo